@model IEnumerable<VentasK.Models.PRODUCTOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRODUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_MIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO_MAX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_MIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO_MAX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PROVEEDOR }) |
            @Html.ActionLink("Details", "Details", new { id=item.PROVEEDOR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PROVEEDOR })
        </td>
    </tr>
}

</table>
